<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid Entry</title>
</head>
<body style="background-blend-mode: color; background-color: #1b1b1b">
<div style="text-align: center">
{% load static %}
<img src="{% static "GradeApp/img/invalid.png" %}" style="height:600px; padding: 0; horiz-align: center">
</div>
<div style="text-align: center">
<button onclick="location.href = '../polls/'" type="button" autofocus style="height: 25px; width: 600px; horiz-align: center">Try Again</button>
</div>
</body>
</html>
