<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    {% load static %}
    <link rel="stylesheet" href="{% static "GradeApp/css/theme.css" %}" type="text/css">
</head>

<body class="bg-light text-dark text-center">
  <div class="text-center bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-10 mx-auto border px-5 pb-5 pt-4">
          <h1 class="mb-3">GRADE<br>PREDICTOR</h1>
          <form method="post">
              {% csrf_token %}
            <div class="form-group"> <input type="text" class="form-control" id="form13" placeholder="Qalam ID" required="required" name="id"> </div>
            <div class="form-group"> <input type="text" class="form-control" placeholder="Section" id="form14" required="required" style="" name="section"> </div>
            <div class="form-group"> <input type="password" class="form-control" placeholder="Password" id="form15" required="required" name="password"> </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row"></div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2022 BSCS 11B - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>
